* {
  box-sizing: border-box;
}

body {
  background-color: #cccccc;
  margin: 0;
  overflow-y: scroll;
  font-family: sans-serif;
}

.button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  min-width: 30px;
  height: 30px;
  font-weight: 800;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  font-size: 16px;
}

#wrapper {
  padding: 60px 40px 60px 60px;
  position: relative;
  display: flex;
}

#canvas-ui {
  position: relative;
  padding-right: 40px;
  /* flex-grow: 1; */
  width: 100%;
}

#canvas-outer {
  width: 100%;
}

#canvas {
  position: absolute;
  display: block;
  background-color: white;
}

#buttons-zoom {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0 0 10px;
  width: 40px;
}

#buttons-zoom {

}

#buttons-zoom .button i {
  pointer-events: none;
}


#canvas-ui:not(.paused) #buttons-zoom .button#button-pause i.fa-play {
  display: none;
}

#canvas-ui.paused #buttons-zoom .button#button-pause i.fa-pause {
  display: none;
}

#canvas-inputs {
  width: 300px;
  background-color: white;
  margin-right: 15px;
  padding: 20px 15px;
  flex-shrink: 0;
}

#canvas-inputs .button.add {
  width: 100%;
}

#canvas-inputs .function {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
  align-items: center;
  background: #eeeeee;
  min-height: 40px;
}

#canvas-inputs .function .button {
  margin-right: 5px;
  margin-bottom: 0;
}

#canvas-inputs .function-input {
  width: calc(100% - 40px);
  border: none;
}
